<form action="/register"method="POST">
    <label for="username">username</label>
    <input type="text"name="username"placeholder="name"autocomplete="off"required><br>
    <label for="email">email</label>
    <input type="email"name="email"placeholder="abc@example.com"autocomplete="off"required><br>
    <label for="password">password</label>
    <input type="password"name="password"placeholder="password"autocomplete="off" required>
</form>